<footer class="footer">
  <div class="containerf">
  </div>
  <div class="gov-co-footer-pie">
    <div class="gov-co-footer-auto containerf">
      <img alt="Logo marca de Colombia" class="gov-co-logo-pie-blanco" src="../../../assets/img/marca_colombia.png">

      <img alt="Logo de Gov Co" class="gov-co-logo-pie-mesa" src="../../../assets/img/header_govco.png">

      <a class="text-white text-align-right" href="https://www.gov.co" target="_blank">
        Conoce GOV.CO aquí
      </a>
    </div>
  </div>
</footer>
