<div class="barra_gov">
  <a class="logo-gov" href="https://www.gov.co/home/" target="_blank">
    <img alt="Logo Gov.co" src="../../../assets/img/header_govco.png">
  </a>
</div>
<nav class="navbar bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <div>
      <img src="../../../assets/img/logo-igac.png">
      <img src="../../../assets/img/favicon.png">
    </div>
    <div class="center bi-backspace">
      <a class="nav-link active text-white" aria-current="page" routerLink="/">Inicio</a>
      <a class="nav-link text-white" aria-current="page" routerLink="/servidor">Servidor</a>
    </div>

  </div>
</nav>
