.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  float: left;
  margin-right: 180px;
}

#divPie {
  height: 300px;
  width: 400px;
}

#divBarra {
  height: 300px;
  width: 400px;
}

.blue {
  color: #58b0e0;
}

.yellow {
  color: #e8bb49;
}

.green {
  color: #7fbd67;
}

.offcanvas {
  background-color: whitesmoke;
}
